.stock-list-container {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #999;
}

.stock-list {
    height: 60px;
    padding: 0px 20px;
    border-bottom: 1px solid #CCC;
    overflow: auto;
}

.list-item {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.list-item.selected {
    color: #FFF;
    background-color: #09F;
}